.cell {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    box-shadow: 0 0 0 2px;
    line-height: 50px;
    font-size: 50px;
    cursor: pointer;
}

#container {
    font-family: "Merienda", cursive;
    font-weight: 300;
    text-align: center;
}

.cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 170px;
    margin: 10px 10px;
}

#gameContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart {
    padding: 7px 30px;
    font-size: 17px;
    border-radius: 12px;
    background-color: azure;
}

#gameContainer {
    margin-right: 350px;
}